@page
@model TimeTracking.WebApp.Pages.Account.LoginModel
@{
    Layout = "_LoginLayout";
}

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row row px-3 justify-content-center mt-4 mb-5">
                        <h1 style="color: #808080; text-align: center;">Time Tracking</h1>
                    </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                        <img src="~/images/TimeTrackingLoginBG.jpg" class="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form method="post" style="top: 15%; position: relative;">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row px-3">
                            <label class="mb-1 text-sm">
                                Email Address
                            </label>
                            <input class="mb-0" type="text" asp-for="Credential.Username" placeholder="Enter a valid Username">
                            <span class="mb-0 text-sm text-danger" asp-validation-for="Credential.Username"></span>
                        </div>
                        <div class="row px-3">
                            <label class="mb-1 text-sm">
                                Password
                            </label>
                            <input class="mb-0" type="password" asp-for="Credential.Password" placeholder="Enter password">
                            <span class="mb-4 text-sm text-danger" asp-validation-for="Credential.Password"></span>
                        </div>
                        <div class="row px-3 mb-4">
                            <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Remember me</label> </div> <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                        </div>
                        <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Login</button> </div>
                        <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a class="text-danger ">Register</a></small> </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3">
                <small class="ml-4 ml-sm-5 mb-2">Time Tracking &copy; 2021. All rights reserved.</small>
            </div>
        </div>
    </div>
</div>

@if (ViewData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Message"]");
            };
    </script>
}
